@page
@model PaymentSystemSandbox.Pages.RegularUser.YourPaymentTransactionsModel

@{
    ViewData["Title"] = "YourPaymentTransactions";
}

<h1>YourPaymentTransactions</h1>

<div class="row">
    <div class="col-md-4">
        <h3>Filter</h3>  
        <form action="" method="get" >
            <input type="hidden" name="offset" value="@Model.PaymentTransaction.Offset"/>
            <input type="hidden" name="top" value="@Model.PaymentTransaction.Top"/>
            <div class="form-group">
                <label for="paymentType" class="control-label">Payment type is</label>
                <select id="paymentType" name="paymentType" class="form-control col-1" 
                    asp-for="PaymentType"
                    asp-items="ViewBag.PaymentTypes"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Apply Filter</button>    
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTransaction[0].IssuatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTransaction[0].ProcessedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTransaction[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTransaction[0].FromWallet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTransaction[0].ToWallet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTransaction[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTransaction[0].TaxInPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTransaction[0].PriceWithTax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PaymentTransaction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IssuatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromWallet.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToWallet.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxInPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceWithTax)
            </td>
        </tr>
}
    </tbody>
</table>

<a href="?top=@Model.PrevTopIndex&offset=@Model.PaymentTransaction.Offset"
   class="btn btn-primary @Model.PrevDisabled">
    Previous
</a>
<a href="?top=@Model.NextTopIndex&offset=@Model.PaymentTransaction.Offset"
   class="btn btn-primary @Model.NextDisabled">
    Next
</a>
