@page
@model PaymentSystemSandbox.Pages.Admin.ReportTransactionsModel

@{
    ViewData["Title"] = "ReportTransactions";
}

<h1>ReportTransactions</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionReport.PaymentTransactions[0].IssuatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionReport.PaymentTransactions[0].ProcessedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionReport.PaymentTransactions[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionReport.PaymentTransactions[0].FromWallet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionReport.PaymentTransactions[0].ToWallet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionReport.PaymentTransactions[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionReport.PaymentTransactions[0].TaxInPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionReport.PaymentTransactions[0].PriceWithTax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TransactionReport.PaymentTransactions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IssuatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromWallet.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToWallet.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxInPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceWithTax)
            </td>
            <td>
                <a href="./ReportPaymentDetails/?paymentId=@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a href="?top=@Model.PrevTopIndex&offset=@Model.TransactionReport.Fetch"
   class="btn btn-primary @Model.PrevDisabled">
    Previous
</a>
<a href="?top=@Model.NextTopIndex&offset=@Model.TransactionReport.Fetch"
   class="btn btn-primary @Model.NextDisabled">
    Next
</a>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TransactionReport.TotalAmount)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TransactionReport.TotalAmount)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TransactionReport.TotalProfit)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TransactionReport.TotalProfit)
    </dd>
</dl>